{% extends 'aplicacion/home.html' %}
{% load static %}

{% block contenido %}
<center>
<h1>Samantha Pillajo</h1>
</center>

</div>
</div>
</div>
<div class="col">
<div class="">
  <div class="text-center">
     <p>Actualmente soy estudiante de Ingeniería Química a tiempo completo, pero también me dedico a actividades extras como mi pequeño emprendimiento de ropa de segunda mano y cursos varios que complementan mi carrera profesional. Me apasiona aprender sobre disciplinas variadas, porque pienso que todo tipo de conocimiento es importante, sin embargo, mis áreas de mayor interés son el cuidado medioambiental, las ciencias, la música y el estilo de vida minimalista. Además, mi objetivo principal es formarme académicamente para ser consultora ambiental y emprendedora.</p>
  </div>
</div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>

{% endblock contenido %}  