{% extends 'aplicacion/home.html' %}
{% load static %}

{% block contenido %}
<!DOCTYPE html>
<html>
<head>
    
    <style>
        .btn-create {
            margin-top: 20px; 
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="text-center">
            <a class="btn btn-primary btn-create" href="{% url 'create_shoe' %}">Create New Shoes</a>
        </div>
        
        <h2>Shoes</h2>
        
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Size</th>
                    <th>Contact</th>
                    <th>Photo</th>
                </tr>
            </thead>
            <tbody>
                {% for top in tops %}
                <tr>
                    <td>{{ top.id }}</td>
                    <td>{{ top.name }}</td>
                    <td>{{ top.price }}</td>
                    <td>{{ top.size }}</td>
                    <td>{{ top.contact }}</td>
                    <td>{{ top.photo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock contenido %}
